@import url("https://fonts.googleapis.com/css2?family=Inter:wght@668&display=swap");

.btnTag {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 3px 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Orange */
.warningTag {
  border-color: #ff9800;
  color: orange;
}

.warningTag:hover {
  background: #ff9800;
  color: white;
}

/* Green */
.successTag {
  border-color: #04AA6D;
  color: green;
}

.successTag:hover {
  background-color: #04AA6D;
  color: white;
}

.button-width-class {
  width: 70%;
}

.float-right {
  float: right;
  font-weight: 400;
}

.font-class {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.font-class-1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-class {
  margin-top: 2%;
  margin-right: 13%;
  margin-left: 13%;
}

.margin-class {
  margin-top: 7%;
}

.center-class {
  text-align: center;
  /* padding: 14px; */
}

.center-class-padding {
  padding: 34px;
}

.left-col-class {
  width: 60%;
}

.rght-margin {
  margin-right: 5%;
}

.formInput {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px
}

.lst-row-class {
  text-align: center;
  margin: 30px;
}
